# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [ ]:
import pandas as pd
import numpy as np

In [21]:
data = {'國家':[i for i in range(10)],
        '人口':np.random.randint(1000000, size=10)}
data = pd.DataFrame.from_dict(data)

In [22]:
m

   國家      人口
0   0  252111
1   1    9740
2   2  214847
3   3  263461
4   4   13322
5   5   27543
6   6  372454
7   7  107145
8   8  387435
9   9  622625

In [25]:
data['國家'].loc[data['人口']==max(data['人口'])]

9    9
Name: 國家, dtype: int64